# === Jupyter ===
**/.ipynb_checkpoints/         # Notebook checkpoints

# === Python ===
__pycache__/
*.py[cod]

# === Logs ===
*.log

# === Environments ===
.env
.venv/
venv/

# === OS-specific ===
.DS_Store                     # macOS
Thumbs.db                    # Windows

# === Raw data ===
data/*

!data/raw/download_mimic.sh   # Include only the download script
notebooks/.DS_Store
.DS_Store